.modal-container {
    display: grid;
    background-color: rgba(0, 0, 0, 0.3);
    position: fixed;
    top: 0;
    left: 0;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    max-width: 100%;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease;
}

.modal {
    background-image: url(background.jpeg);
    border-radius: 10%;
    padding: 30px 30px 30px;
    text-align: left;
    max-width: 1000px;
    margin: 0 auto;

}

.modal-image {
    width: 300px;
    float: left;
}

.modal-header {
    display: grid;
    color: white;
    font-size: 50px;
}

.modal-info {
    display: -ms-inline-grid;
    color: white;

}

#entry {
    display: grid;
    color: white;

}

.close {
    display: grid;
    float: right;
    border-style: none;
}

.button-text {
    margin: -10px -5px -10px -5px;
    font-size: 40px;
    color: red;
}

.show {
    opacity: 1;
    pointer-events: auto;
}

@media screen and (max-width: 849px) {
    .modal {
        max-width: 100%;
        margin: auto;
    }
    .modal-image {
        float: left;
        width: 150px;
    }
    .modal-header {
        font-size: 25px;
    }
    .modal-info {
        font-size: 12px;
    }
}

@media screen and (min-width: 850px) and (max-width: 1000px) {
    .modal {
        max-width: 85%;
    }
}